<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html>
    <head>
        <title>PROJECT EXODUS</title>
        <link rel="stylesheet" type="text/css" href="/media/bqsite/exodus.css" media="screen" />
        <script type="text/javascript" src="/media/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="/media/bqsite/exodus.js"></script>

    </head>
    
    <body>
        <div class="charBox" id="charBoxHeader">
            <div class="controlHeaderRow" id="title">PROJECT EXODUS</div>
            <div class="controlHeaderRow">Enter a Message!</div>
            <div class="controlHeaderRow" id="content">
                <input type="text" id="myname"><br>
                <input type="submit" id="send" value="Send!"><br>    
            </div>
        </div>

    </body>
    
</html>
