<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<title>Dillo Dash!</title>
		<link rel="stylesheet" type="text/css" href="/media/ddash/ddash.css" media="screen" />
		<script type="text/javascript" src="/media/jquery-1.8.1.min.js"></script>
		<script type="text/javascript" src="/media/ddash/ddash.js"></script>

	</head>
	
	<body>		
		
		<div class="main">
			<div class="title"><img class="titleimg" src="/media/ddash/title.png" /></div>
			<div class="content">
				<div class="contentgrass"></div>
				<div class="contentinner">yo</div>
			</div>
		</div>
	</body>
	
</html>
