{% extends "base.html"%}

{% block header %}


{% endblock %}

{% block body %}
<body>
	<button id="update">Request Bot Update</button>
	<div id="nextUpdate">Next update in: <span id="updTime"></span></div>	
	<div id="logframe"><div id="log">	
		<div class="row" id="info"></div>
		<div class="row" id="row1"></div>
		<div class="row" id="row2"></div>
		<div class="row" id="row3"></div>
		<div class="row" id="row4"></div>
		<div class="row" id="row5"></div>
		<div class="row" id="row6"></div>
		<div class="row" id="row7"></div>
		<div class="row" id="row8"></div>
		<div class="row" id="row9"></div>
		<div class="row" id="row10"></div>
	</div></div>
</body>
{% endblock %}

