body
{
	background-color: black;
	background-image: url('/media/img/stone.png');
}

span.Action{color: white;}
span.GETPOST{color: gray;}
span.ERROR{color: red;}
span.Result{color: lightblue;}
span.Done{color: lightgreen;}

div
{
	color: white;
	font-family:"Courier New";
	font-weight:600;
}


div.row
{
	position:relative;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	height:15px;
	font-size: 15px;
}

div#logframe
{
	position:absolute;
	top:10%;
	background-image: url('/media/img/console.png');
	width:384px;
	height: 160px;
	padding:32px;
	margin:0 auto;
}

div#log
{

	position:inherit;
	top:inherit;
	width:inherit;
	height: inherit;
}
