<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Zendesk Feedback Tab Test</title>
  </head>
  <body>

<h1>Feedback Tab</h1>
<p>The feedback tab should show up on the left.</p>

<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.5/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.5/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20109642",
      url:         "https://sweepre.zendesk.com",
      tabID:       "Support",
      tabColor:    "black",
      tabPosition: "Left"
    });
  }
</script>

</body>
</html>
