<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<title>BladeQuest Character Simulator</title>
		<link rel="stylesheet" type="text/css" href="/media/bqsite/charsim.css" media="screen" />
		<script type="text/javascript" src="/media/jquery-1.8.1.min.js"></script>
		<script type="text/javascript" src="/media/bqsite/charsim.js"></script>

	</head>
	
	<body>
		
		
		<div class="charBox" id="charBoxHeader">
			<div class="controlHeaderRow">
				BladeQuest Character Simulator
			</div>
			<div class="controlHeaderRow">
				<a id="addChar" class="addButton">Add Character</a>
			</div>
			<div class="controlHeaderRow" id="charRows">
			</div>			
			
		</div>		
		
		<div class='CharContainer'></div>
	</body>
	
</html>
